<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>leaving the island</key>
	<dict>
		<key>links</key>
		<array>
			<dict>
				<key>passageTitle</key>
				<string>setting out</string>
				<key>displayText</key>
				<string>Setting Out</string>
			</dict>
		</array>
		<key>passage</key>
		<string>Once again, here I am.

I look back at the beach, remembering the time I spent there. The choices I made. 

It makes me remember how things used to be. But, no. I can&apos;t think about that now. All I need to think about is surviving. Yeah. Not living. Living is thriving. Living is exhillerating! 

I am survivng. 

This little raft has served me well, but it will need to be replaced. This island had barely enough resources to even make a fire last night. I am going to just cross my fingers that I find more land soon. 

One again, here I am. Setting out into the unknown. 

Surviving. 
</string>
	</dict>
	<key>setting out</key>
	<dict>
		<key>links</key>
		<array>
			<dict>
				<key>passageTitle</key>
				<string>keep going</string>
				<key>displayText</key>
				<string>Keep Going</string>
			</dict>
			<dict>
				<key>passageTitle</key>
				<string>turn back</string>
				<key>displayText</key>
				<string>Turn Back</string>
			</dict>
		</array>
		<key>passage</key>
		<string>It takes me a while, but I finally make it past the surf and into the break. The water is deep here. A beautiful shimmering grey. 

I battle with myself. The island had barely any resources... But should I really gamble on whether I can make it to another island before this raft disintergrates?</string>
	</dict>
	<key>turn back</key>
	<dict>
		<key>links</key>
		<array>
			<dict>
				<key>passageTitle</key>
				<string>keep going</string>
				<key>displayText</key>
				<string>Keep Going</string>
			</dict>
		</array>
		<key>passage</key>
		<string>Turning back seems like the only chance for survival, at this point. 

I put my makeshift paddle in the water to the left of the raft, preparing to turn it around. I take one more look out to the sea, and then another look at the island. 

It looks about 200m away, now. And I can see how small it really is. 

I would last a day, maybe two. 

That isn&apos;t survivng. 

I decide, once again, that continuing is the only real option for me. </string>
	</dict>
	<key>keep going</key>
	<dict>
		<key>links</key>
		<array>
			<dict>
				<key>passageTitle</key>
				<string>keep going</string>
				<key>displayText</key>
				<string>Keep Going</string>
			</dict>
		</array>
		<key>passage</key>
		<string>No matter how I try and justify staying, leaving always comes up as the best idea for survival. 

I shake my head, take a deep breath, and remember my goal. 

I put my makeshift paddle in the water. With each stroke, my mind pulls further from the island. I think less about the safety of staying, and think more about the uncertainty and excitement of the unknown. 

Maybe I will find someone else. Someone like me. </string>
	</dict>
</dict>
</plist>
